<a href="https://colab.research.google.com/github/MarkClarenceRodriguez/58013_Linear_Algebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Review of Python

Python Indentation

In [1]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Python Comments

In [2]:
#this is a comment
print("Hello World")

Hello World

Python Variable

In [6]:
x = 1
a, b=0,-1
a,b,c=0,-1,2

b = "Silly" #This is a type of string
print(b)

Silly

Casting

In [5]:
b="sally" #this is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

Type()function

In [8]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double" quotes or 'Single' quotes

In [16]:
y = "John"
y = 'John'
print(y)

John

Case sensitve

In [15]:
a = 4
A = "Sally"
#A will not overwrite a
print(A)

Sally

Multiple Variables

In [14]:
x,y,z ="one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [17]:
x= y= z= "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [21]:
x = " enjoying "
print ("Python programming is" + x)

Python programming is enjoying

Other way

In [25]:
x = "Python is"
y = " enjoying"
z = x + y
print(z)

Python is enjoying

Arithmetic Operations

In [26]:
x = 5
y = 3
print (x+y)


x = 5
y = 3
sum = x+y
sum

8

8

 Assingment Operator

In [27]:
a,b,c=0,-1,6
c%=3
c

0

Comparison Operator

In [28]:
a,b,c=0,-1,6
a>b and c>b
True

True

Logical Operators

Identity Operator

In [29]:
a,b,c=0,-1,5
a is c
False

False

Bitwise Operators

In [33]:
a,b,c =0,-1,5
c << 1

10

In [34]:
a,b,c =0,-1,5
c >> 1

2